body {
    background-image: url("https://cdn.pixabay.com/photo/2021/02/19/08/58/mountains-6029596_1280.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 3s;
    text-align: center;
    background-attachment: fixed;
}

h1 {
    color: white;
    padding-left: 20px;
    font-family: Raleway, sans-serif, extra-bold;

}

p {
    color: white;
    font-size: 20px;
    font-family: Raleway, sans-serif, extra-bold;
}

.navbar-light .navbar-nav .nav-link { /*to change the boostrap color*/
    color: white;
    margin-right: 20rem;
    font-size: 20px;
    font-family: Raleway, sans-serif, extra-bold;
}

.navText:hover {
    background-color: white;
    opacity: 60%;

}

.btn {
    margin-left: 20px;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
    font-size: 25px;

}

.card {
    margin-right: 20px;
    text-align: center;
    opacity: 60%;
    margin-bottom: 10px;
    align-items: center;
}

.roll {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.stop {
    display: none;
}

.navbar-brand {
    color: white;
    font-size: 90px;
    font-family: Raleway, sans-serif, extra-bold;
    visibility: hidden;

}

.position-item {
    justify-content: flex-end;
}

.nav-link {
    color: white;
}

.imageLogo {
    margin-top: 15%;
    width: 150px;
    margin-left: 10px;
}


.logo {
    margin-bottom: 10px;
}

/*footer*/
#footer {
    text-align: center;
    position: absolute;
    background-color: white;
    opacity: 60%;
    bottom: 0;
    width: 100%;
    height: 75px; /* Footer height */
}

#footer p {
    color: black;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.icon-footer {
    width: 1%;

}
.icon-second{
    margin-left: 15px;
}

.icon-footer:hover {
    background-color: #dddddd;
}

@media (max-width: 1000px) {
    footer {
        height: 55px !important;
        bottom: 0 !important;
    }

    #footer p {
        color: black;
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    .imageLogo {
        margin-top: 10%;
        margin-bottom: 2%;
        width: 20%;
        margin-left: 0px;
    }

    .logo {
        padding-left: 0px;
    }

    .row {
        margin-left: 0% !important;
    }

    .card {
        text-align: center;
        opacity: 60%;
        margin-bottom: 10px;
        align-items: center;
        width: 5rem !important;
    }


    p {
        color: white;
        font-size: 12px;
        font-family: Raleway, sans-serif, extra-bold;
    }

    .btn {
        margin-left: 0%;
        margin-bottom: 15px !important;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        font-size: 70%;
    }

    h1 {
        color: white;
        padding-left: 15px;
        font-family: Raleway, sans-serif, extra-bold;

    }

    .animationStart {
        transform: scale(0.3, 0.3);
    }
    .icon-footer {
        width: 15px;
        margin-left: 15px;
    }

}
