body{
    background-image: url("https://cdn.pixabay.com/photo/2021/02/19/08/58/mountains-6029596_1280.jpg");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    color: white;
    padding-left: 20px;
}
.btn{
    margin-left:20px;
}
.card{
    margin: 5px;
    margin-top: 300px;
    margin-right: 15px;
    text-align: center;
    opacity: 60%;

}
